

Update your blog post:
  <form action="/posts/:id" method="patch">
      <input type="text" name="name" value= "<%=@post.name%>">
      <input id="hidden" type="hidden" name="_method" value="patch">
  </form>
